/* This was added by default by create-react-app, I just left it cause it looks nice */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Below is all the new CSS I added for this project */
.click-it-now,
.reaction-button {
  width: 15rem;
  height: 15rem;
  border: none;
  border-radius: 10%;
  font-size: 2.5rem;
}

.reaction-button {
  background-color: #61dafb;
}

.click-it-now {
  background-color: #ff5a5f;
}
